body {
    background: #f7f7f7 url("http://33.media.tumblr.com/71be5cd5728e22354fc9dc389d5ab85b/tumblr_nb1uqjWny11st5lhmo1_1280.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Open Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    /* IE Fallback */
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
  }
  .container {
    position: relative;
    z-index: 1;
    background: #e7e7e7;
    max-width: 330px;
    margin: 0 auto;
  }
  nav {
    background: #ffffff;
    width: 100%;
  }
  nav header {
    background: #16a085;
    padding: 20px;
  }
  nav header h1 {
    font-size: 16px;
    margin: 0;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: none;
  }
  nav ul li {
    display: block;
    background: #1abc9c;
  }
  nav ul li.active {
    background: #ffffff;
  }
  nav ul li.active a {
    color: #1abc9c;
    border-left: 2px solid #1abc9c;
  }
  nav ul li.active ul {
    display: block;
  }
  nav ul li:last-child {
    border-bottom: none;
  }
  nav ul li ul {
    display: none;
  }
  nav ul li ul li a {
    background: #ffffff;
    padding-left: 40px;
    color: #1abc9c;
  }
  nav ul li ul li a:hover {
    padding-left: 45px;
  }
  nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
    border-left: 2px solid transparent;
  }
  nav ul li a:hover {
    background: #ffffff;
    padding-left: 20px;
    border-left: 2px solid #1abc9c;
    color: #1abc9c;
  }
  nav .info {
    background: #ffffff;
    border-left: 2px solid #1abc9c;
    padding: 20px;
    color: #666;
    font-size: 14px;
  }
  nav footer {
    background: #16a085;
    padding: 15px 20px;
    color: #fff;
  }
  nav footer p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  