.container
 %nav
  %header
   %h1 Flat Vertical Navigation
  %ul
   %li
    %a{:href => "#"} 
     .fa.fa-home
     Home
   %li.sub-menu
    %a{:href => "#"} 
     .fa.fa-book
     About
     .fa.fa-angle-down.right
    %ul
     %li
      %a{:href => "#"} Our Team
     %li
      %a{:href => "#"} What We Do
   %li
    %a{:href => "#"}
     .fa.fa-file-text 
     Portfolio
   %li
    %a{:href => "#"} 
     .fa.fa-envelope
     Contact
  .info Cupcake ipsum dolor sit amet biscuit. Tootsie roll unerdwear.com powder tiramisu sugar plum marzipan cheesecake toffee wafer. Pie jelly icing bear claw gummies icing jelly beans pie halvah.
  %footer 
   %p Copyright &copy; AndyTran.me